.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.65);

  .header_right {
    display: flex;
  }

  // 语言切换
  .locales,
  .user,
  .setting {
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
  }

  .locales {
    width: 40px;
  }

  // 用户信息
  .user {
    width: 60px;
  }

  // 设置
  .setting {
    width: 40px;
  }

}

// 设置面板
.setting_drawer {

  // 面板风格
  .panel_style {

    .title {
      font-weight: 600;
      color: #333;
      margin-bottom: 10px;
    }

    .diffstyles {
      display: flex;

      &>span {
        position: relative;
        width: 48px;
        height: 42px;
        margin-right: 16px;
        border-radius: 4px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
        }

        .selected {
          position: absolute;
          right: 10px;
          bottom: 10px;
        }
      }
    }
  }

  // 主题色
  .theme_color {

    .title {
      font-weight: 600;
      color: #333;
      margin: 15px 0 10px;
    }

    .colors {
      display: flex;

      span {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 2px;
        color: #fff;
        margin-right: 8px;
        cursor: pointer;
      }
    }
  }
}